apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
    tier: database
spec:
  clusterIP: None
  selector:
    app: mysql
    tier: database
  ports:
  - port: 3306
    targetPort: 3306
    name: mysql
